/* Style your stopwatch container, buttons, and time display here */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #036494, #d459cd); /* Background gradient */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    text-align: center;
    width: 30vw;
    height: 70vh;
    padding: 50px 15px;
    background-color: #fff; 
    margin-top: 5vh;
    box-shadow: 0 4px 16px #0000004a; /* Add box shadow */
    border-radius: 10px;
}


button:hover {
    background-color: #5e0588;
    cursor: pointer;
    transform: scale(1.2); /* Add scaling effect on hover */
}

.time {
    justify-content: center;
    font-size: 2.5vw;
    width: 30vw;
    height: 50vh;
    line-height: 250px;
    border-radius: 50%;
    font-weight: bold;
    background-color: #fff;
}

p{
    font-weight: 400;
    color: chartreuse;
    padding: 30px 0;
}


#start,#reset,#lap,#pause{
    margin-left: 1vw;
    font-size: 1vw;
    outline: None;
    border: None;
    background-color: white;
    padding-top: 0.2vw;
    width:3vw;
    height:3vw;
    border-radius: 100%;
    box-shadow: 0 0 10px #ff00ec50;
}

